In [20]:
from pyspark.sql import SparkSession, SQLContext
from pyspark.sql.functions import col, explode, json_tuple, regexp_replace, udf
from pyspark.sql.functions import sum as col_sum
from pyspark.sql.types import StructField, StructType, StringType, IntegerType, ArrayType, FloatType
import pyspark
from pyspark import SparkConf

from math import radians, cos, sin, asin, sqrt

import re
import os

In [21]:
# Read in the file (as json) and convert to a single column
# The 'haltes' column gets renamed to 'stops'
stops = spark.read.json("data/stops.txt")
stops = stops.select((explode("haltes").alias("stops")))

# Map each entry in the dataframe to its own stop
stops = stops.select('stops').rdd.map(lambda x: x.stops).toDF()
# Drop unnecessary data
stops = stops.drop('links', 'gemeentenummer', 'entiteitnummer')

# Rename columns of dataframe to better name
stops = stops \
            .withColumnRenamed('haltenummer', 'stop_number') \
            .withColumnRenamed('omschrijving', 'desc') \
            .withColumnRenamed('geoCoordinaat', 'coord') \
            .withColumnRenamed('omschrijvingGemeente', 'village') \

# Show the first 20 entries of the dataframe
stops.show()

+--------------------+-----------+--------------------+---------+
|               coord|stop_number|                desc|  village|
+--------------------+-----------+--------------------+---------+
|[51.1638893702134...|     101000| A. Chantrainestraat|  Wilrijk|
|[51.2062496902375...|     101001|           Zurenborg|Antwerpen|
|[51.1660665941742...|     101002|Verenigde Natieslaan|  Hoboken|
|[51.1660216374063...|     101003|Verenigde Natieslaan|  Hoboken|
|[51.1740548394127...|     101004|     D. Baginierlaan|  Hoboken|
|[51.1630084393468...|     101005| A. Chantrainestraat|  Wilrijk|
|[51.1597748887066...|     101006|      Fotografielaan|  Wilrijk|
|[51.1599636330007...|     101007|      Fotografielaan|  Wilrijk|
|[51.1629556669243...|     101008|            Moerelei|  Wilrijk|
|[51.1634592883462...|     101009|            Moerelei|  Wilrijk|
|[51.1887431659368...|     101010|        J. De Voslei|Antwerpen|
|[51.1829725415369...|     101011|   Middelheim Vijver|Antwerpen|
|[51.1622018810643...|     101012|          Antarctica|  Wilrijk|
|[51.1619502254637...|     101013|          Antarctica|  Wilrijk|
|[51.1794217154344...|     101014|     Rozenkransplein|  Wilrijk|
|[51.1795025837593...|     101015|     Rozenkransplein|  Wilrijk|
|[51.1750618209695...|     101016|   L. Kieboomsstraat|  Wilrijk|
|[51.1754304098470...|     101017|   L. Kieboomsstraat|  Wilrijk|
|[51.1769064386623...|     101018|         Rooiboslaan|  Wilrijk|
|[51.1766817117476...|     101019|         Rooiboslaan|  Wilrijk|
+--------------------+-----------+--------------------+---------+
only showing top 20 rows

In [22]:
def haversine(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    r = 6371 # Radius of earth in kilometers. Use 3956 for miles
    return c * r

In [25]:
location = [51, 4]

@udf(returnType=FloatType())
def get_distance(coord):
    lat1 = location[0]
    lon1 = location[1]
    
    lat2 = coord[0]
    lon2 = coord[1]
    
    return haversine(lon1, lat1, lon2, lat2)

In [27]:
stops = stops.withColumn('distances', get_distance('coord'))
stops = stops.sort(col('distances').desc())
stops.show(1)

+--------------------+-----------+-------+----------+---------+
|               coord|stop_number|   desc|   village|distances|
+--------------------+-----------+-------+----------+---------+
|[50.7405763095672...|     408842|Station|Remersdaal|135.51363|
+--------------------+-----------+-------+----------+---------+
only showing top 1 row